@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script type="text/javascript" src="~/Scripts/mapview.js"></script>    
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body onload="init()">
    <div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">GPX Viewer for Office 365</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#test_modal" data-toggle="modal" data-target="#basicModal">Edit Metadata</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.Name<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">@Html.ActionLink("Sign out", "SignOut", "Account")</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    
    <div id="mapDiv"></div>
    <ul class="hiddenCoordinateList" style="display:none;">
        @{
            foreach (MVCO365Demo.Controllers.GeoCoordinate coordinate in ViewBag.Coordinates)
            {
                <li>@coordinate</li>
            }
        }
    </ul>
    
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" id="myModalLabel">Edit GPX Metadata</h4>
                </div>
                <div class="modal-body">
                    Title:
                    <input type="text" class="form-control" id="titleField" placeholder="@ViewBag.Title">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="updateName">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>