@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script type="text/javascript" src="~/Scripts/mapview.js"></script>

</head>

<body onload="init()">
    <div id="mapDiv"></div>
    <ul class="hiddenCoordinateList" style="display:none;">
        @{
            foreach (MVCO365Demo.Controllers.GeoCoordinate coordinate in ViewBag.Coordinates)
            {
                <li>@coordinate</li>
            }
        }
    </ul>
</body>

</html>